@import url(https://fonts.googleapis.com/css?family=Rubik);

html {
    background-color: #000000;
}

body {
    width: 50vw;
    /* border: 1px solid black; */
    margin: 20px auto auto auto;
    font-family: Rubik;
    color: #ff4534;
}

p{
    color: #ffffff;
}

header {
margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

label{
    width: 100%;
    /* border: 1px solid red; */
    display: block;
    color: #ffffff;
}

input {
    width: 99%;
    color:  #ffffff;
    font-size: 18px;
    background: none;
    border-bottom:  1px double #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 150%;
    outline: none;
    
}

select {
    background-color: transparent;
    outline: none;
    color: #ffffff; 
    border: none;
    width: 100%;
    
}

option {
    outline: none;
    border: none;
    color: #000000;
    background-color: #ff4534;

}

input:focus{
    border-bottom:  1px double #fceb04;
}

textarea {

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/

    width: 99%;
    display: block;
    font-size: 18px;
    background: none;
    color:  #ffffff;
    border-bottom:  1px double #ffffff;
    outline: none;

}

textarea:focus {
    border-bottom:  1px double #fceb04;
}



fieldset {
    /* background-color: #434449; */
    border: 1px solid #ff4534;
    margin-bottom: 25px;
    background: #ff4534;

    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px; 
}

legend {
    color: #ffffff;
    background-color: #ff4534;
    border: 2px solid #ff4534;

    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px; 
    margin-top: -5px;
    font-size: 25px;
    padding: 10px;
}

fieldset p {
    display: flex;
    flex-direction: row;
}

.aceite {
width: 10%;
}

button {
    font-size: 18px;
    color: #ffffff;
    background-color: #ff4534;
    padding: 10px;
    border: none;
}

button:hover{
    border-bottom:  1px double #fceb04;
    color: #fceb04;
}

